* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body {
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height:100vh;
    background:black;  /* fallback for old browsers */
    

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 25vw;
    height: 100vh;
    
}

.profile-img-container {
    width:100%;
    height: 25vh;
    
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #294B8E;
}

.profile-name {
    width: 100%;
    height: 5vh;
    color: #294b8e;
    font-size: 0.8rem;
    
}

.profile-name h1 {
    font-weight: 400;
}

.social {
    width:100%;
    height: 10vh;
    
}

.social ul {
    list-style:none;
    justify-content: space-evenly;
    height:100%;
}
.social li {
    display:inline-block;
}

.social-icon {
    width: 30px;
    height: 30px;
    color:white;
}

nav {
    height: 50vh;
    width:100%;

}

nav ul {
    width:100%;
    height: 100%;
    padding: 20px;
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav ul li {
    width:100%;
    height:40px;
    position:relative;
}


.nav-span {
    display: inline-block;
    height:40px;
    line-height: 40px;
    margin-left: 10%;
    
}

.nav-link {
    color:white;
    text-decoration:none;
    font-size: 22px;
    font-weight:400;
}

.nav-icon {
    width: 30px;
    height:30px;
    color:white;
}

.home {
    color:#294B8E;
}

.right-section {
    width: 75vw;
    height: 100vh;
    background: red;
    position:relative;
}

.overlay {
    width:75vw;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
    position:absolute;
    right:0;
    top:0;
    z-index: 2;
}

.bg-img {
    width:75vw;
    height: 100vh;
    object-fit: cover;
    position:absolute;
    right:0;
    top:0;
    
}

.text {
    width:500px;
    height: 100px;
    z-index: 3;
    color:red;
    position:absolute;
    margin-left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
}

.text::before {
    content: '';
    width: 300px;
    height: 5px;
    background-color: #294B8E;
    position: absolute;
    bottom: -50px;
    right:0;
}

.title-name {
    font-weight: 600;
}

footer {
    height: 10vh;
    color:lightgrey;
}

